<mat-toolbar>
    <mat-toolbar-row>
        <span>Weather</span>
        <span class="fill-remaining-space"></span>
        <a routerLink="/dashboard">
            Dashboard
        </a>
        <a routerLink="/detailed">Detailed</a>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>