<div class="grid-container">
  <span class="mat-h1">Dashboard </span>

  <mat-form-field>
    <mat-label>Choose a start date</mat-label>
    <input matInput [matDatepicker]="startPicker"
      (dateChange)="changeDate('startDate', $event)"  
      [value]="startDate.value"
       >
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose a start date</mat-label>
    <input matInput [matDatepicker]="endPicker"
      (dateChange)="changeDate('endDate', $event)"  [value]="endDate.value"  >
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>
  
  <mat-paginator #paginator
                [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent = onPageEvent($event)">
  </mat-paginator>
  

  <mat-grid-list [cols]="cols" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards " [colspan]="cols >= 2 ? card.cols : 1" [rowspan]="card.rows">
      <app-diagram-list-item [card]="card"></app-diagram-list-item>
    </mat-grid-tile>
  </mat-grid-list>
</div>
