<mat-form-field>
  <mat-label>Choose a start date</mat-label>
  <input matInput [matDatepicker]="startPicker"
    (dateChange)="changeDate('startDate', $event)"  
    [value]="startDate.value"
      >
  <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
  <mat-datepicker #startPicker></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-label>Choose a start date</mat-label>
  <input matInput [matDatepicker]="endPicker"
    (dateChange)="changeDate('endDate', $event)"  [value]="endDate.value"  >
  <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
  <mat-datepicker #endPicker></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-label>Sensor type</mat-label>
  <mat-select [formControl]="selectedSensor" (selectionChange)="changeSelect('sensorType',$event)" multiple>
    <mat-option *ngFor="let sensor of selectedSensorsList" [value]="sensor">{{sensor}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>Diagram type</mat-label>
    <mat-select [(value)]="selectedDiagramType" (selectionChange)="changeSelect('chartType',$event)">
      <mat-option *ngFor="let type of diagramTypes" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

<div class="chartdiv" style="width: 100%; height: 85%"></div>